<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://39.107.85.109:3306/cyshop2?characterEncoding=utf-8"/>
                <property name="username" value="cyshop"/>
                <property name="password" value=""/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="AddGoods.xml"/>
        <mapper resource="addOrder.xml"/>
        <mapper resource="address.xml"/>
        <mapper resource="catalog.xml"/>
        <mapper resource="comment.xml"/>
        <mapper resource="createOrder.xml"/>
        <mapper resource="frontOrderItem.xml"/>
        <mapper resource="member.xml"/>
        <mapper resource="order.xml"/>
        <mapper resource="orderDetail.xml"/>
        <mapper resource="refundOrReturnOrder.xml"/>
        <mapper resource="refundOrReturnItem.xml"/>
        <mapper resource="sku.xml"/>
        <mapper resource="skuAttri.xml"/>
        <mapper resource="skuAttriGroup.xml"/>
        <mapper resource="skuAttriValue.xml"/>
        <mapper resource="spuList.xml"/>
        <mapper resource="skumodel.xml"/>
        <mapper resource="spu.xml"/>
    </mappers>
</configuration>
