<div class="animated fadeIn">
	<div class="row">
		<div class="col-1">
			<!-- 返回 -->
			<a class="btn  btn-primary " style="margin-bottom: 15px ;border-radius:50%;" role="button" href="wt/goods-list.html"
			 data-toggle="ajaxLoad" data-target="#ui-view"><i class="fa fa-arrow-left"></i></a>
		</div>
		<div class="col-8">
			<h4>商品添加 <small class="text-muted"> spu/sku添加 </small></h4>
		</div>
	</div>
	<form class="form-horizontal" action="" method="post">
		<div class="card">
			<div class="card-header">
				商品添加
				<small>表单</small>
			</div>

			<div class="card-body">
				<div class="card">
					<div class="card-header">
						<strong>商品添加</strong></div>
					<div class="card-body ">

						<div class="form-group row">
							<label class="col-md-2 col-form-label offset-1 text-right" for="name"><i class="text-danger " style="font: bold 14px/20px tahoma, verdana;">*</i>
								商品名称 </label>
							<div class="col-md-4">
								<input class="form-control" id="name" type="text" name="goods_name">
							</div>
						</div>
						<hr>
						<div class="form-group row">
							<label class="col-md-2 col-form-label offset-1 text-right" for="name"><i class="text-danger " style="font: bold 14px/20px tahoma, verdana;">*</i>
								商品分类 </label>
							<div class="col-md-3 row">
								<label class="col-5 col-form-label  text-right" for="name">
									一级分类 </label>
								<select class="form-control form-control-sm col" id="select3" name="catalog1">
									<!-- 循环一级分类 -->
									<option value="1">特产 食品 保健</option>
									<option value="2">大家电 小家电</option>
									<option value="3">电脑 手机 数码</option>
									<option value="4">服装 鞋靴 箱包</option>
								</select>
							</div>
							<div class="col-md-3 row">
								<label class="col-5 col-form-label  text-right" for="name">
									二级分类 </label>
								<select class="form-control form-control-sm col" id="select3" name="catalog2">
									<!-- 循环二级分类 -->
									<option value="1">地方特产</option>
									<option value="2">休闲食品</option>
									<option value="4">饮料冲调</option>
									<option value="6">茗茶</option>
								</select>
							</div>
							<div class="col-md-3 row">
								<label class="col-5 col-form-label  text-right" for="name">
									三级分类 </label>
								<select class="form-control form-control-sm col" id="select3" name="catalog3">
									<!-- 循环三级分类 -->
									<option value="1">铁观音</option>
									<option value="2">普洱</option>
									<option value="3">龙井</option>
									<option value="4">乌龙茶</option>
								</select>
							</div>
						</div>
						<hr>
						<div class="form-group row">
							<label class="col-md-2 col-form-label offset-1 text-right" for="goods_model"><i class="text-danger " style="font: bold 14px/20px tahoma, verdana;">*</i>
								商品模型 </label>
							<div class="col-md-4">
								<select class="form-control form-control-sm col" id="select3" name="goods_model">
									<!-- 根据三级分类循环出模型 -->
									<option value="1">iphone11模型</option>
									<option value="2">荣耀P30模型</option>
									<option value="3">华为mate30模型</option>
									<option value="4">小米10模型</option>
								</select>
							</div>
						</div>
						<hr>
						<div class="form-group row">
							<!-- 排列组合显示每条sku，可填写商品库存，商品sku -->
							<label class="col-md-2 col-form-label offset-1 text-right" ><i class="text-danger " style="font: bold 14px/20px tahoma, verdana;">*</i>SKU设置</label>
							<table class="table table-responsive-sm col-8 offset-2">
								<thead>
									<tr>
										<th>sku描述</th>
										<th>库存</th>
										<th>价格</th>
									</tr>
								</thead>
								<tbody>
									<!-- 将属性和属性进行排列组合 循环展示 -->
									<tr>
										<td>
											<div class="row">
												
												<input class="form-control col-6 " readonly id="name" type="text" name="sku_description" value="magic2 渐变黑 128 ">
											</div>
										</td>
										<td>
											<div class=" row">
												
												<input class="form-control col-3" id="name" type="text" name="sku_stock">
											</div>
										</td>
										<td>
											<div class=" row">
												
												<input class="form-control col-3" id="name" type="text" name="sku_price">
											</div>
										</td>
									</tr>
								</tbody>
								
								
							</table>
							
							
							
							
						</div>
					</div>
					<div class="card-footer ">
						<div class="offset-3">
							<!-- 改为submit -->
							<a class="btn  btn-primary" role="button" href="wt/goods_model.html" data-toggle="ajaxLoad" data-target="#ui-view">确认提交</a>
						</div>
					</div>
	</form>

</div>
</div>
</div>
</div>
