<div class="animated fadeIn">

	<div class="card">
		<div class="card-header">
			商品列表
			<small>spu</small>
		</div>
		<div class="card-body">
			<!-- 商品模型添加按钮 -->
			<a class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view" role="button" href="wt/add_goods.html"><i
				 class="fa fa-plus"> 添加商品</i></a>
			<hr>
			<table class="table table-responsive-sm">
				<thead>
					<tr>
						<th>编号</th>
						<th>商品名称</th>
						<th>模型名称</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>1</td>
						<td>magic2</td>
						<td>手机模型1</td>
						<td>
							<a href="javaScript:;" class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad" data-target="#ui-view"
							 role="button"><i class="fa fa-edit"></i>查看</a>
							<a href="wutong/w-add-nav-manage.html" class="btn  btn-outline-primary btn-sm" data-toggle="ajaxLoad"
							 data-target="#ui-view" role="button"><i class="fa fa-edit"></i>编辑</a>
							<a href="waddroleManage.html" class="btn  btn-outline-primary btn-sm" data-toggle="modal" data-target="#smallModal"
							 role="button"><i class="fa fa-trash" data-toggle="modal" data-target="#smallModal"></i>删除</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</div>
